// Navigation code here
.mainNav {
    background-color: @sea-shell;
}

.mainNav h1 {
    text-align: center;
    font-size: @small *2;

}

.mainNav nav {
    .flex(space-evenly, center, row, @small);
    padding: 10px;
    margin: @margin;
    width: 100%;



}

a {
    text-decoration: none;
}

footer {
    background-color: @sea-shell;
}